/*import de mes font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

/*declaration de mes variables*/
$primaire-color: #9356dc;
$secondaire-color: #ff79da;
$tertiaire-color: #99e2d0;
$gray: #ececec;
$light-gray: #f6f6f6;
$light-purple: #f2eafb;
$gray-ico: #979797;

/*general*/
* {
  box-sizing: border-box; /*retire les margin et padding*/
  padding: 0;
  position: relative;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto", "sans-serif"; /*si probleme de dl passe en sans-serif*/
}

a {
  color: black;
  text-decoration: none; /*retire le surlignage*/
}

/*header*/
header {
  align-items: center;
  text-align: center;
  display: flex;
  box-shadow: 0 2px 4px #636363cc;
  z-index: 2; //sinon shadow non visible
  img {
    margin: 1rem auto;
    justify-content: center;
  }
  h1 {
    display: none;
  }
}

/*section localisation*/
.localisation {
  background-color: $gray;
  padding: 1rem;

  a {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;

    h4 {
      margin-left: 1rem;
    }
  }
}

/*section complement*/

.complement {
  background-color: $light-gray;
  padding-bottom: 4rem;
  text-align: center;

  h2 {
    padding: 2.5rem 0 1.5rem 0;
  }
  p {
    margin-bottom: 3rem;
  }
  a {
    color: white;
    background: #ff79da;
    background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
    border-radius: 2rem;
    padding: 1rem;
    &:hover {
      filter: brightness(1.1);
      box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
        rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    }
  }
}

/*section fonctionnement*/

.fonctionnement {
  display: block;
  align-items: center;
  &__div {
    max-width: 1440px;
    margin: auto;
    h2 {
      padding: 2rem 0 0 1.5rem;
    }
    &__derouler {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem;
      font-weight: bold;
      flex-wrap: wrap;
      gap: 1rem;
      li {
        width: 100%;
        @media (min-width: 768px) {
          width: 30%;
        }
        a {
          margin: 0;
          background-color: $light-gray;
          padding: 2rem;
          border-radius: 1rem;
          display: flex;
          height: 100%;

          &:hover {
            background-color: $light-purple;
            .fonctionnement__div__derouler--ico {
              color: $primaire-color;
              transition: color 0.3s;
            }
          }

          @media (min-width: 768px) {
            margin-right: 1rem;
          }
        }
      }
      &--ico {
        color: $gray-ico;
        margin: 0 1rem;
      }
      &--nombre {
        height: 2rem;
        width: 2rem;
        background: $primaire-color;
        border-radius: 20px;
        text-align: center;
        position: absolute;
        left: -1rem;
        top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}
