/*import de mes font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

/*declaration de mes variables*/
$primaire-color: #9356dc;
$secondaire-color: #ff79da;
$tertiaire-color: #99e2d0;
$gray: #ececec;
$light-gray: #f6f6f6;
$light-purple: #f2eafb;
$gray-ico: #979797;
$dark-gray: #353535;

/*general*/
* {
  box-sizing: border-box; /*prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/
  padding: 0;
  position: relative;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto", "sans-serif"; /*si probleme de dl passe en sans-serif*/
  a {
    color: black;
    text-decoration: none; /*retire le surlignage*/
  }
}

/*loader*/
.centre {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  color: white;
  z-index: 3;
  animation: fondu 2s 3s forwards;
  &__anneau {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: anneau 2s linear infinite;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
  }
  > span {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
  }
}

@keyframes fondu {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes anneau {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #9356dc;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #99e2d0;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #ff79da;
  }
}
@keyframes text {
  50% {
    color: black;
  }
}

/*header*/
header {
  align-items: center;
  text-align: center;
  display: flex;
  box-shadow: 0 2px 4px #636363cc;
  z-index: 2; //sinon shadow non visible
  img {
    margin: 1rem auto;
    justify-content: center;
  }
  h1 {
    display: none;
  }
}

/*section localisation*/
.localisation {
  background-color: $gray;
  padding: 1rem;

  a {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;

    h4 {
      margin-left: 1rem;
    }
  }
}

/*section complement*/

.complement {
  background-color: $light-gray;
  padding-bottom: 4rem;
  text-align: center;

  h2 {
    padding: 2.5rem 0 1.5rem 0;
  }
  p {
    margin-bottom: 3rem;
  }
  a {
    color: white;
    background: $secondaire-color;
    background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
    border-radius: 2rem;
    padding: 1rem;
    &:hover {
      filter: brightness(1.1);
      box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
        rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    }
  }
}

/*section fonctionnement*/

.fonctionnement {
  display: block;
  align-items: center;
  &__div {
    max-width: 1440px;
    margin: auto;
    h2 {
      padding: 2rem 0 0 1.5rem;
    }
    &__derouler {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1.5rem 2rem 2.5rem;
      font-weight: bold;
      flex-wrap: wrap;
      gap: 1rem;
      li {
        width: 100%;
        @media (min-width: 820px) {
          width: 30%;
        }
        a {
          margin: 0;
          background-color: $light-gray;
          padding: 2rem;
          border-radius: 1rem;
          display: flex;
          height: 100%;

          &:hover {
            background-color: $light-purple;
            .fonctionnement__div__derouler--ico {
              color: $primaire-color;
              transition: color 0.3s;
            }
          }

          @media (min-width: 820px) {
            margin-right: 1rem;
          }
        }
      }
      &--ico {
        color: $gray-ico;
        margin: 0 1rem;
      }
      &--nombre {
        height: 2rem;
        width: 2rem;
        background: $primaire-color;
        border-radius: 20px;
        text-align: center;
        position: absolute;
        left: -1rem;
        top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}

/*restaurants*/
.restaurant {
  background-color: $light-gray;
  &__div {
    max-width: 1440px;
    margin: auto;
    h2 {
      padding: 2rem 0 1rem 1.5rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0 1.5rem 0 1.5rem;
      gap: 1rem;
      padding-bottom: 2rem;
      li {
        width: 90%;
        background-color: white;
        border-radius: 1rem;
        flex-grow: 1;

        @media (min-width: 820px) {
          width: 45%;
        }
        @media (min-width: 992px) {
          width: 20%;
        }
      }
    }
    &__carte {
      display: block;
      height: 200px;
      border-radius: 1rem;
      &:hover {
        filter: brightness(1.1);
        box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
          rgb(0 0 0 / 30%) 0px 18px 36px -18px;
      }

      &--img {
        height: 9rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        border-radius: 1rem 1rem 0 0;
        position: relative;
      }

      &--new {
        background: $tertiaire-color;
        color: #3b8468;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.5rem;
      }

      &--nom {
        font-weight: bold;
        padding: 0.3rem 0.5rem 0 0.5rem;
      }

      &--lieu {
        padding: 0 0 1rem 0.5rem;
      }

      span {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        &:active {
          .restaurant__div__carte--plein {
            font-size: 1rem;
            transition: all 0.5s;
          }
          .restaurant__div__carte--vide {
            color: transparent;
            transition: all 0.5s;
          }
        }
      }
      &--vide {
        position: absolute;
        bottom: 0.8rem;
        left: -1.5rem;
      }

      &--plein {
        position: absolute;
        left: 0rem;
        background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 0rem;
      }
    }
  }
}

//footer
.footer {
  background-color: $dark-gray;
  color: white;
  padding-left: 1.5rem;
  div {
    max-width: 1440px;
    margin: auto;
    img {
      padding: 1rem 0 1rem 0;
      filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg)
        brightness(104%) contrast(97%);
      width: 7rem;
    }
  }
  ul {
    padding-bottom: 2rem;
    a {
      color: white;
    }
    i {
      padding-right: 0.5rem;
    }
    .fa-hands-helping {
      font-size: 64%;
    }
  }
}

/******************************************************************************************* 
***************************************     Menu     ***************************************
*******************************************************************************************/

header {
  > a {
    padding: 1rem;
  }
}

.image {
  margin: 0 0 -0.3rem 0;
  &--img {
    height: 10rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    position: relative;
  }
}

.main_menu {
  background-color: $light-gray;
  padding-bottom: 3rem;

  &__titre {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    bottom: 1rem;
    background-color: $light-gray;

    > h1 {
      padding: 1rem;
      font-family: "Shrikhand", "sans-serif"; /*si probleme de dl passe en sans-serif*/
      font-size: 150%;
    }

    &__coeur {
      &:active {
        .main_menu__titre__coeur--plein {
          font-size: 1rem;
          transition: all 0.5s;
        }
        .main_menu__titre__coeur--vide {
          color: transparent;
          transition: all 0.5s;
        }
      }

      &--plein {
        position: absolute;
        bottom: 0rem;
        right: 0rem;
        background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 0rem;
      }
    }
  }
}

.carte {
  display: block;
  gap: 1rem;
  bottom: 1rem;

  @media (min-width: 992px) {
    display: flex;
  }

  &__menu {
    width: 95%;
    margin: 0 auto;
    gap: 1rem;
    padding-top: 2rem;

    @media (min-width: 992px) {
      width: 30%;
    }

    h2 {
      &:after {
        content: "";
        width: 4rem;
        height: 0.3rem;
        background-color: $tertiaire-color;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
      }
    }

    &__plat {
      background-color: white;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 1rem;
      overflow: hidden;
      margin-right: auto;
      margin-top: 12px;
      -webkit-box-shadow: 0 5px 16px #0000002e;
      box-shadow: 0 5px 16px #0000002e;
      position: relative;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-name: appear;
      animation-name: appear;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      &:hover .carte__menu__plat__acc_prix {
        width: calc(100% - 65px);
        transition: width 0.5s ease-in-out;
      }

      &:hover .carte__menu__plat__cache {
        transform: translateX(0px);
        transition: 0.5s ease-in-out;
      }

      &:hover .carte__menu__plat__cache--check {
        transform: rotate(360deg);
        transition: 0.5s ease-in-out;
      }

      &__acc_prix {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        max-width: 100%;
        overflow: hidden;

        &__nom {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &--titre {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
          }
          &--acc {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &--prix {
          font-weight: bold;
          justify-content: center;
          display: flex;
          align-items: center;
        }
      }
      &__cache {
        position: absolute;
        background-color: $tertiaire-color;
        top: 0;
        bottom: 0;
        right: 0;
        width: 65px;
        border-radius: 0 1rem 1rem 0;
        transform: translateX(66px);
        overflow: hidden;
        transition-duration: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;

        &--check {
          font-size: 2rem;
          color: white;
          text-align: center;
        }
      }
    }

    .anim-1 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }

    .anim-2 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }

    .anim-3 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }

    .anim-4 {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }

    .anim-5 {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }

    .anim-6 {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    .anim-7 {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
    }

    .anim-8 {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }

    .anim-9 {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }

    .anim-10 {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
  }
}

/*Animation du défilement du menu*/
@keyframes appear {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.commander {
  text-align: center;
  margin-top: 3rem;

  .fas.fa-check-circle {
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 1.5rem;
    color: white;
    opacity: 1;
  }

  > a {
    color: white;
    background: $secondaire-color;
    background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
    border-radius: 2rem;
    padding: 1rem 3rem;
    margin: 0 auto;
    bottom: 1rem;
    &:hover {
      filter: brightness(1.1);
      box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
        rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    }
  }
}
