/*import de mes font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/*declaration de mes variables*/
/*general*/
* {
  box-sizing: border-box;
  /*retire les margin et padding*/
  padding: 0;
  position: relative;
  margin: 0;
  list-style-type: none;
  font-family: "Roboto", "sans-serif";
  /*si probleme de dl passe en sans-serif*/
}

a {
  color: black;
  text-decoration: none;
  /*retire le surlignage*/
}

/*header*/
header {
  align-items: center;
  text-align: center;
  display: flex;
  box-shadow: 0 2px 4px #636363cc;
  z-index: 2;
}
header img {
  margin: 1rem auto;
  justify-content: center;
}
header h1 {
  display: none;
}

/*section localisation*/
.localisation {
  background-color: #ececec;
  padding: 1rem;
}
.localisation a {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}
.localisation a h4 {
  margin-left: 1rem;
}

/*section complement*/
.complement {
  background-color: #f6f6f6;
  padding-bottom: 4rem;
  text-align: center;
}
.complement h2 {
  padding: 2.5rem 0 1.5rem 0;
}
.complement p {
  margin-bottom: 3rem;
}
.complement a {
  color: white;
  background: #ff79da;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
  border-radius: 2rem;
  padding: 1rem;
}
.complement a:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/*section fonctionnement*/
.fonctionnement {
  display: block;
  align-items: center;
}
.fonctionnement__div {
  max-width: 1440px;
  margin: auto;
}
.fonctionnement__div h2 {
  padding: 2rem 0 0 1.5rem;
}
.fonctionnement__div__derouler {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem 2rem 2.5rem;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 1rem;
}
.fonctionnement__div__derouler li {
  width: 100%;
}
@media (min-width: 820px) {
  .fonctionnement__div__derouler li {
    width: 30%;
  }
}
.fonctionnement__div__derouler li a {
  margin: 0;
  background-color: #f6f6f6;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  height: 100%;
}
.fonctionnement__div__derouler li a:hover {
  background-color: #f2eafb;
}
.fonctionnement__div__derouler li a:hover .fonctionnement__div__derouler--ico {
  color: #9356dc;
  transition: color 0.3s;
}
@media (min-width: 820px) {
  .fonctionnement__div__derouler li a {
    margin-right: 1rem;
  }
}
.fonctionnement__div__derouler--ico {
  color: #979797;
  margin: 0 1rem;
}
.fonctionnement__div__derouler--nombre {
  height: 2rem;
  width: 2rem;
  background: #9356dc;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  left: -1rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/*restaurants*/
.restaurant {
  background-color: #f6f6f6;
}
.restaurant__div {
  max-width: 1440px;
  margin: auto;
}
.restaurant__div h2 {
  padding: 2rem 0 1rem 1.5rem;
}
.restaurant__div ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1rem;
  padding-bottom: 2rem;
}
.restaurant__div ul li {
  width: 90%;
  background-color: white;
  border-radius: 1rem;
  flex-grow: 1;
}
@media (min-width: 800px) {
  .restaurant__div ul li {
    width: 45%;
  }
}
@media (min-width: 992px) {
  .restaurant__div ul li {
    width: 20%;
  }
}
.restaurant__div__carte {
  display: block;
  height: 200px;
  border-radius: 1rem;
}
.restaurant__div__carte:hover {
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.restaurant__div__carte--img {
  height: 9rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
  position: relative;
}
.restaurant__div__carte--new {
  background: #99e2d0;
  color: #3b8468;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
}
.restaurant__div__carte--nom {
  font-weight: bold;
  padding: 0.3rem 0.5rem 0 0.5rem;
}
.restaurant__div__carte--lieu {
  padding: 0 0 1rem 0.5rem;
}
.restaurant__div__carte span {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.restaurant__div__carte span:active .restaurant__div__carte--plein {
  font-size: 1rem;
  transition: all 0.5s;
}
.restaurant__div__carte span:active .restaurant__div__carte--vide {
  color: transparent;
  transition: all 0.5s;
}
.restaurant__div__carte--vide {
  position: absolute;
  bottom: 0.8rem;
  left: -1.5rem;
}
.restaurant__div__carte--plein {
  position: absolute;
  left: 0rem;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0rem;
}

.footer {
  background-color: #353535;
  color: white;
  padding-left: 1.5rem;
}
.footer div {
  max-width: 1440px;
  margin: auto;
}
.footer div img {
  padding: 1rem 0 1rem 0;
  filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  width: 7rem;
}
.footer ul {
  padding-bottom: 2rem;
}
.footer ul a {
  color: white;
}
.footer ul i {
  padding-right: 0.5rem;
}
.footer ul .fa-hands-helping {
  font-size: 64%;
}

/******************************************************************************************* 
***************************************     Menu     ***************************************
*******************************************************************************************/
header > a {
  padding: 1rem;
}

.image {
  margin: 0 0 -0.3rem 0;
}
.image--img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  position: relative;
}

.main_menu {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.main_menu__titre {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  bottom: 1rem;
  background-color: #f6f6f6;
}
.main_menu__titre > h1 {
  padding: 1rem;
  font-family: "Shrikhand", "sans-serif";
  /*si probleme de dl passe en sans-serif*/
  font-size: 150%;
}
.main_menu__titre__coeur:active .main_menu__titre__coeur--plein {
  font-size: 1rem;
  transition: all 0.5s;
}
.main_menu__titre__coeur:active .main_menu__titre__coeur--vide {
  color: transparent;
  transition: all 0.5s;
}
.main_menu__titre__coeur--plein {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0rem;
}

/*# sourceMappingURL=style.css.map */
