/*declaration de mes variables*/
$primaire-color: #9356dc;
$secondaire-color: #ff79da;
$tertiaire-color: #99e2d0;
$gray: #ececec;
$light-gray: #f6f6f6;
$light-purple: #f2eafb;
$gray-ico: #979797;
$dark-gray: #353535;
$tablette: 820px;
$desktop: 992px;
